{{>header}}
<section id="viewAds" class="viewAds">
  <h1 class="titleForm">Advertisements</h1>
		{{#if hasAds}}
			<div id="ads" class="ads">
				<table>
					<tr>
						<th>Title</th>
						<th>Publisher</th>
						<th>Description</th>
						<th>Price</th>
						<th>Date Published</th>
						<th>Action</th>
					</tr>
					{{#each ads}}
					<tr>
						<td>{{title}}</td>
						<td>{{publisher}}</td>
						<td>{{description}}</td>
						<td>{{price}}</td>
						<td>{{datePublishing}}</td>
						<td>
						
							{{#if isAuthor}}
								<a href="#/delete/{{_id}}">[Delete]</a>
								<a href="#/edit/{{_id}}">[Edit]</a>
							{{else}}
								<a href="#/details/{{_id}}">[Show More]</a>
							{{/if}}
							
						</td>
					</tr>
					{{/each}}
			
				</table>
		{{else}}
			<p>No advertisements available.</p>
		{{/if}}
</section>
{{>footer}}