{{>header}}
<div class="row event-details">
  <div class="col-md-12 text-center overflow-hidden">

    <img class="details-img" src="{{eventInfo.image}}" />
    <div class="my-3 p-3">
      <h2 class="display-5">{{eventInfo.name}}</h2>
      <p class="infoType">Description:</p>
      <p class="event-description">{{eventInfo.description}}</p>
      <p class="infoType">Date: <small>{{eventInfo.date}}</small></p>
      <p class="infoType">Peope interested in: <small>{{eventInfo.people}}</small></p>
      <p class="infoType">Organizer: <small>{{eventInfo.organizer}}</small></p>
    </div>
    {{#if isAuthor}}
    <a href="#/edit/{{id}}" class="btn btn-primary btn-lg">Edit the event</a>
    <a href="#/archive/{{id}}" class="btn btn-danger btn-lg">Close the event</a>
    {{else}}
    <a href="#/join/{{id}}" class="btn btn-info btn-lg">Join the event</a>
    {{/if}}


  </div>
</div>
{{>footer}}